{% extends 'base.html' %}

{% block title %}
    管理系统|添加制造能力审查规则
{% endblock title %}

{% block main %}
    <h1 class="page-header">制造能力审查规则管理页面</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加制造能力审查规则</h3>
        </div>
{#        <style type="text/css"> /*input css*/#}
{#        .iInput{ position: absolute; #}
{#            width: 99px; #}
{#            height: 16px; #}
{#            left: 1px; #}
{#            top: 2px; #}
{#            border-bottom: 0px; #}
{#            border-right: 0px; #}
{#            border-left: 0px; #}
{#            border-top: 0px; }#}
{#        </style>#}
        <style>

        input{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        h4{
            border-left:100px
        }
        table {
        border-collapse: collapse; /* 合并单元格 */
        }
        th {
            font-size: 10px;
            border: 1px solid black; /* 设置边框 */
            padding: 10px; /* 设置内边距 */
            height: 20px; /* 设置行高 */
            min-width:60px;
            max-height:50px;
            width: 50px;
            max-width: 100px;
        }
        td{
            font-size: 10px;
            height: 20px; /* 设置行高 */
            max-height:30px;
            {#width: 50px;#}
            max-width: 100px;
            min-width:60px;
            overflow:hidden;text-overflow:ellipsis;
            white-space:nowrap; /* 超出部分用省略号 */
        }

      </style>

        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'add_ManuCapRule' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="ManuCapRule-name" class="col-sm-2 control-label">规则名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-name" placeholder="规则名称"
                               name="ManuCapRule_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-captype" class="col-sm-2 control-label">制造能力参数类型</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="ManuCapRule_captype">
{#                         <select style="width:120px;" name="ManuCapRule_captype" onchange="document.getElementById('input').value=this.value">#}
                        <option style="font-size:15px;" value="零件材料" selected>零件材料</option>
                        <option value="精度">精度</option>
                        <option value="尺寸加工能力">尺寸加工能力</option>
                        </select>
{#                        <input id="input" name="ManuCapRule_captype" class="iInput">#}
{#                        <input type="text" class="form-control" id="ManuCapRule-captype" placeholder="制造能力参数类型"#}
{#                               name="ManuCapRule_captype">#}
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-manuType" class="col-sm-2 control-label">加工方式</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-manuType" placeholder="加工方式"
                               name="ManuCapRule_manuType">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-featType1" class="col-sm-2 control-label">特征大类</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-featType1" placeholder="特征大类"
                               name="ManuCapRule_featType1">
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label for="ManuCapRule-featType2" class="col-sm-2 control-label">特征小类</label>#}
{#                    <div class="col-sm-10">#}
{#                        <input type="text" class="form-control" id="ManuCapRule-featType2" placeholder="特征小类"#}
{#                               name="ManuCapRule_featType2">#}
{#                    </div>#}
{#                </div>#}
                <div class="form-group">
                    <label for="ManuCapRule-featType2" class="col-sm-2 control-label">特征小类</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="ManuCapRule-featType2" name="ManuCapRule_featType2">
                            {% for Feature in Feature_list %}
                                <option value="{{ Feature.classSecond }}">{{ Feature.classSecond }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-featPro" class="col-sm-2 control-label">特征属性</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-featPro" placeholder="特征属性"
                               name="ManuCapRule_featPro">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-resType" class="col-sm-2 control-label">制造资源/工艺方案类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-resType" placeholder="制造资源/工艺方案类型"
                               name="ManuCapRule_resType">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-content" class="col-sm-2 control-label">知识描述</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ManuCapRule-content" placeholder="知识描述"
                               name="ManuCapRule_content">
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    <label for="ManuCapRule-script" class="col-sm-2 control-label">脚本</label>#}
{#                    <div class="col-sm-10">#}
{#                        <input type="text" class="form-control" id="ManuCapRule-script" placeholder="脚本"#}
{#                               name="ManuCapRule_script">#}
{#                    </div>#}
{#                </div>#}
                <h4 class="page-header">产生式规则脚本输入</h4>
{#                            <div class="input-group">#}
{#                                <form style="width:400px;display:inline" action="/add_rule_search_Feature_para/" method="get">#}
{#                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>#}
{#                                </form>#}
{#                            </div><!-- /input-group -->#}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info" type="button" data-toggle="tooltip" title="搜索"
                                name="searchFeature" id="searchFeature" onclick="searchfea()"
                                >搜索
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-script" class="col-sm-2 control-label">标准特征参数表</label>
                    <div class="col-sm-10" style="width:80%; height:100%; overflow:scroll;">
                        <table class="table table-bordered" id="paratable">
                            <thead>
                            <tr>
                                <th>参数名</th>
                                <th>参数描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for FeaturePara in FeaturePara_list %}
                                <tr>
                                    <td>{{ FeaturePara.classSecond }}</td>
                                    <td>{{ FeaturePara.paraDef }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>




                <div class="form-group">
                    <label for="ManuCapRule-script" class="col-sm-2 control-label">If前提</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="ManuCapRule_script_if_1" placeholder="If前提"
                               name="ManuCapRule_script_if_1" >
                    </div>
                    <label for="ManuCapRule-script" class="col-sm-2 control-label">Then结论</label>
                    <div class="col-sm-10">
                    <input class="form-control" id="ManuCapRule_script_then_1" placeholder="Then结论"
                               name="ManuCapRule_script_then_1" >
                        </div>
                </div>
                <div class="form-group">
                <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addCenterIpGrpBtn"
            onclick="addCenterIpGrp(this)" style="margin-left: 225px">新增If-Then <span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-info" type="button" data-toggle="tooltip" title="生成脚本代码"
                                id="searchBtn"
                                onclick="genscript()">生成脚本代码
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ManuCapRule-script" class="col-sm-2 control-label">脚本</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="ManuCapRule-script" placeholder="脚本"
                                  name="ManuCapRule_script" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ManuCapRule-ManuCapRemark" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="ManuCapRule-ManuCapRemark" placeholder="备注"
                                  name="ManuCapRule_ManuCapRemark" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                        <p style="color: red;">{{ error_msg }}</p>
                    </div>
                </div>
                <script type="text/javascript">

                    var rowCount = 1;//(资源)行数默认1行
                    //添加脚本输入框项

                    function addCenterIpGrp(obj) {
                        rowCount++
                        alert(rowCount);
                        html =
                            '<div class="form-group">' +
                            '<label for="ManuCapRule-script" class="col-sm-2 control-label">If前提</label>'+
                            '<div class="col-sm-10">'+
                            '<input class="form-control" id="ManuCapRule_script_if_' +rowCount+
                            '" placeholder="If前提" name="ManuCapRule_script_if_' +rowCount+ '" ></div>'+
                            '<label for="ManuCapRule-script" class="col-sm-2 control-label">Then结论</label>'+
                            '<div class="col-sm-10">'+
                            '<input class="form-control" id="ManuCapRule_script_then_' +rowCount+
                            '" placeholder="Then结论" name="ManuCapRule_script_if_' +rowCount+ '" >'+
                            '<button class="btn btn-danger" type="button" data-toggle="tooltip" title="删除" id="delCenterIpGrp">删除行 <span class="glyphicon glyphicon-minus"></span></button>' +
                            ' </span>' +
                            '</div>'+
                            '</div>'
                        obj.insertAdjacentHTML('beforebegin', html)

                        $(document).on('click', '#delCenterIpGrp', function () {
                            {#rowCount--;#}
                            {#alert(rowCount);#}
                            var el = this.parentNode.parentNode;
                            {#var centerIp = $(this).parent().parent().find('#ipInput').val();#}
                            el.parentNode.removeChild(el)
                        })
                    }

                    function genscript() {
                        var ruleArray = new Array();
                        alert(rowCount);
                        for (var i = 1; i <= rowCount; i++) {
                            if (document.getElementById('ManuCapRule_script_if_' + i)!=null){
                                var script_if = document.getElementById('ManuCapRule_script_if_' + i).value;
                                var script_then = document.getElementById('ManuCapRule_script_then_' + i).value;
                                if ((script_if != "" && undefined != script_if)) {
                                    var obj = new Object();
                                    obj['script_if'] = script_if;
                                    obj['script_then'] = script_then;
                                    ruleArray.push(obj);
                                }
                            }
                        }
                        var ruleJsonData = JSON.stringify(ruleArray);
                        var obj=document.getElementById('ManuCapRule-script');



                        obj.value=ruleJsonData;
                    }
                    {#$(document).on('click', '#searchFeature', function () {#}
                    function searchfea() {
                            {#alert(rowCount);#}
                            var featureType = $("#ManuCapRule-featType2").val(); //获取特征小类
                            alert(featureType)

                            $.post("/add_rule_search_Feature_para/", { "featype": featureType, "csrfmiddlewaretoken": '{{ csrf_token }}'}, //post函数到后端
                                function (data, status) { //回调函数
                                    $("#paratable").html(data); //将id为pstable的标签的html替换为返回的data
                                    {#$("#ip").val(ip) //将输入框的值改为查询的ip#}
                                });
                    }

                </script>



            {% csrf_token %}

            </form>
        </div>
    </div>
{% endblock main %}

{% block ManuCapRule_list %}
active
{% endblock ManuCapRule_list %}