{% extends 'base.html' %}

{% block title %}
    管理系统|添加标准特征
{% endblock title %}

{% block main %}
    <h1 class="page-header">标准特征管理页面</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加标准特征数据</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'add_Feature' %}" method="post">
                <div class="form-group" id="Rule-basicInfo" style="width:60%;float:left;">
                    <div class="form-group">
                        <label for="Feature-classFirst" class="col-sm-2 control-label">特征大类</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="Feature-classFirst" data-live-search="true"
                                    name="Feature_classFirst">
                                <option value="孔">孔</option>
                                <option value="口框">口框</option>
                                <option value="槽">槽</option>
                                <option value="凸台">凸台</option>
                                <option value="筋">筋</option>
                                <option value="加工面">加工面</option>
                                <option value="轮廓">轮廓</option>
                                <option value="default" style="display: none" selected></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Feature-classSecond" class="col-sm-2 control-label">特征小类</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Feature-classSecond" placeholder="特征小类"
                                   name="Feature_classSecond">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Feature-paraDef" class="col-sm-2 control-label">特征编号</label>
                        <div class="col-sm-10">
                            <input  type="text" class="form-control" id="Feature-paraDef" placeholder="特征编号"
                                      name="Feature_paraDef" >
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="Feature-remark" class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="Feature-remark" placeholder="备注"
                                  name="Feature_remark" rows="5"></textarea>
                    </div>
                    </div>
                </div>
                <div class="form-group" id="Feature_imgPath" style="width:40%; float:right;">
                    <label for="Feature_imgPath" class="col-sm-2 control-label">示意图</label>
                    <input type="file" id="oneimg" name="Feature_imgPath">
                    <div style="clear:both;"></div>
                    <div style="margin-top: 10px; display: inline-block;  clear: both"
                         id="preview">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                        <p style="color: red;">{{ error_msg }}</p>
                    </div>
                </div>
            {% csrf_token %}
            </form>
        </div>
    </div>
        <script type="text/javascript">
        const preview = document.getElementById('preview');
        //图片提示
        const uploadInput = document.getElementById('oneimg');
        uploadInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.addEventListener('load', function () {
                    preview.innerHTML = `<img src="${reader.result}" alt="预览图" style="width: 100%; height: 100%; object-fit: contain">`;
                });

                reader.readAsDataURL(file);
            } else {
                preview.innerHTML = '暂无预览';
            }
        });
        </script>

{% endblock main %}

{% block Feature_list %}
active
{% endblock Feature_list %}