{% extends 'base.html' %}

{% block title %}
    管理系统|编辑零件工艺路线数据
{% endblock title %}

{% block main %}
    <h1 class="page-header">零件工艺路线管理页面</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">编辑零件工艺路线数据</div>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'edit_part' part.id %}" enctype="multipart/form-data" method="post">

                <div class="form-group">
                    <label for="part-partType" class="col-sm-2 control-label">零件类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-partType" name="part_partType"
                               placeholder="零件类型" value="{{ part.partType }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-partStruct" class="col-sm-2 control-label">零件结构形式</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-partStruct" placeholder="零件结构形式"
                               name="part_partStruct" value="{{ part.partStruct }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-partMat" class="col-sm-2 control-label">零件材料</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-partMat" placeholder="零件材料"
                               name="part_partMat" value="{{ part.partMat }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-partSize" class="col-sm-2 control-label">零件尺寸</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-partSize" placeholder="零件尺寸"
                               name="part_partSize" value="{{ part.partSize }}">
                    </div>
                </div>


                <div class="form-group">
                    <label for="part-geoFix" class="col-sm-2 control-label">零件装夹位置</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="part-geoFix" placeholder="零件装夹位置"
                                  name="part_geoFix" rows="5" >{{ part.geoFix }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-PMIInfo" class="col-sm-2 control-label">关联的PMI及精度</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-PMIInfo" placeholder="关联的PMI及精度"
                               name="part_PMIInfo" value="{{ part.PMIInfo }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="part-featType" class="col-sm-2 control-label">关联的特征类型</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-featType" placeholder="关联的特征类型"
                               name="part_featType" value="{{ part.featType }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-processFlow" class="col-sm-2 control-label">工艺流程</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="part-processFlow" placeholder="工艺流程"
                                  name="part_processFlow" rows="5" >{{ part.processFlow }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-otherField1" class="col-sm-2 control-label">其他字段1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="part-otherField1" placeholder="其他字段1"
                               name="part_otherField1" value="{{ part.otherField1 }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-otherField2" class="col-sm-2 control-label">其他字段2</label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="part-otherField2" placeholder="其他字段2"
                                  name="part_otherField2" rows="5" >{{ part.otherField2 }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="part-Img" class="col-sm-2 control-label">示意图</label>
                    <input type="file" id="oneimg" name="part_Img">

                    {% if part.Img %}
                    <div style="width: 300px; height: 200px; display: flex; justify-content: flex-end;" id="preview">
                        <img src="{{ part.Img.url }}" alt="{{ part.Img }}" style="width: 100%; height: 100%;">
                    </div>
                {% else %}
                    <p>请上传对应图片</p>
                        <div style="width: 300px; height: 200px; display: flex; justify-content: flex-end;" id="preview">
                        <img style="width: 100%; height: 100%;">
                    </div>
                {% endif %}

                </div>

                <script>
                    const uploadInput = document.getElementById('oneimg');
                    const preview = document.getElementById('preview');

                    uploadInput.addEventListener('change', function (event) {
                      const file = event.target.files[0];
                      if (file) {
                        const reader = new FileReader();

                        reader.addEventListener('load', function () {
                          preview.innerHTML = `<img src="${reader.result}" alt="预览图">`;
                        });

                        reader.readAsDataURL(file);
                      } else {
                        preview.innerHTML = '暂无预览';
                      }
                    });
                  </script>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                        <p style="color: red;">{{ error_msg }}</p>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock main %}

{% block cutter_list %}
    active
{% endblock cutter_list %}