{% extends 'base.html' %}

{% block title %}
    标准化知识和信息|材料信息
{% endblock title %}

{% block main %}
    <h2 class="page-header" style="border-bottom: none">标准化知识和信息|材料信息</h2>

    <script>
        function changeForm(newFormName) {
            // 获取表单元素
            console.log("这是输出的消息");
            var form = document.getElementById(newFormName);
            // 提交表单
            form.submit();
        }
    </script>

    <ul id="myTab" class="nav nav-tabs">

        <li class="{% if tab_name == 'materialDesignation' %}active{% endif %}" >
            <a href="#materialDesignation" data-toggle="tab" id = 'materialDesignationLink' onclick="changeForm('materialDesignation_form')" >材料牌号</a>
        </li>

        <li class="{% if tab_name == 'materialMachinability' %}active{% endif %}" >
            <a href="#materialMachinability" data-toggle="tab" id = 'materialMachinabilityLink' onclick="changeForm('materialMachinability_form')">材料切削性</a>
        </li>

        {#        <li class="dropdown">#}
        {#            <a href="#" id="myTabDrop1" class="dropdown-toggle"#}
        {#               data-toggle="dropdown">形状加工能力#}
        {#                <b class="caret"></b>#}
        {#            </a>#}
        {#            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">#}
        {#                <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>#}
        {#                <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>#}
        {#            </ul>#}
        {#        </li>#}
    </ul>
    <div id="myTabContent" class="tab-content">
        {#标签1：材料牌照#}
        <div class="{% if tab_name == 'materialDesignation' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}"  id="materialDesignation">

            <div class="panel panel-primary">
            <!-- Default panel contents -->
                <div class="panel-heading">材料牌号表<i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_materialDesignation/" method="get" id="materialDesignation_form">
                                <input style="width:300px;float:left;" class="form-control" type="text" name="materialDesignation_search" placeholder="材料名称">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>
                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_materialDesignation' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加材料牌号</a>

                        </div>

                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>数据操作</th>
                            <th>材料名称</th>
                            <th>材料大类</th>
                            <th>材料小类</th>
                            <th>材料别名</th>
                            <th>ASTM</th>
                            <th>SAE</th>
                            <th>描述</th>
                            <th>示意图</th>
                            <th>其他字段1</th>
                            <th>其他字段2</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for materialDesignation in materialDesignation_list %}
                            <tr>
                                <td class="buttentest">
                                    <a class="btn btn-danger" href="{% url 'delete_materialDesignation' materialDesignation.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>删除</a>
                                    <a class="btn btn-info" href="{% url 'edit_materialDesignation' materialDesignation.id %}"><i
                                            class="fa fa-pencil fa-fw"></i>查看并编辑</a>
                                </td>

                                <td>{{ materialDesignation.GBName }}</td>
                                <td>{{ materialDesignation.matType1 }}</td>
                                <td>{{ materialDesignation.matType1 }}</td>
                                <td>{{ materialDesignation.matName }}</td>
                                <td>{{ materialDesignation.ASTM }}</td>
                                <td>{{ materialDesignation.SAE }}</td>
                                <td>{{ materialDesignation.desc }}</td>
                                <td>{{ materialDesignation.Img }}</td>
                                <td>{{ materialDesignation.otherField1 }}</td>
                                <td>{{ materialDesignation.otherField2 }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }
                </script>
                </div>
                </div>

            </div>

        </div>
        {#标签2：材料切削性#}
        <div class="{% if tab_name == 'materialMachinability' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}" id="materialMachinability">

            <div class="panel panel-primary">
            <!-- Default panel contents -->
                <div class="panel-heading">材料切削性表<i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_materialMachinability/" method="get" id="materialMachinability_form">
                                <input style="width:300px;float:left;" class="form-control" type="text" name="materialMachinability_search" placeholder="材料名称">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>
                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_materialMachinability' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加材料切削性</a>

                        </div>

                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>数据操作</th>
                            <th>材料名称</th>
                            <th>强度</th>
                            <th>硬度</th>
                            <th>热传导率</th>
                            <th>加工硬化</th>
                            <th>刀具材料亲和性</th>
                            <th>其他字段1</th>
                            <th>其他字段2</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for materialMachinability in materialMachinability_list %}
                            <tr>
                                <td class="buttentest">
                                    <a class="btn btn-danger" href="{% url 'delete_materialMachinability' materialMachinability.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>删除</a>
                                    <a class="btn btn-info" href="{% url 'edit_materialMachinability' materialMachinability.id %}"><i
                                            class="fa fa-pencil fa-fw"></i>查看并编辑</a>
                                </td>

                                <td>{{ materialMachinability.materialName }}</td>
                                <td>{{ materialMachinability.Strength }}</td>
                                <td>{{ materialMachinability.hardness }}</td>
                                <td>{{ materialMachinability.therConduct }}</td>
                                <td>{{ materialMachinability.hardening }}</td>
                                <td>{{ materialMachinability.affinity }}</td>
                                <td>{{ materialMachinability.otherField1 }}</td>
                                <td>{{ materialMachinability.otherField2 }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }
                </script>
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock main %}