{% extends 'base.html' %}

{% block title %}
    标准化知识和信息|制造资源
{% endblock title %}

{% block main %}
    <h2 class="page-header" style="border-bottom: none">标准化知识和信息|制造资源</h2>
    <script>
        function changeForm(newFormName) {
            // 获取表单元素
            console.log("这是输出的消息");
            var form = document.getElementById(newFormName);
            // 提交表单
            form.submit();
        }
    </script>

    <ul id="myTab" class="nav nav-tabs">

        <li class="{% if tab_name|default:'tool' == 'tool' %}active{% endif %}">
            <a href="#tool" data-toggle="tab" id = 'cutterLink' onclick="changeForm('tool_form')">刀具</a>
        </li>

        <li class="{% if tab_name == 'fixture' %}active{% endif %}">
            <a href="#fixture" data-toggle="tab" onclick="changeForm('fixture_form')">工装</a>
        </li>

        <li class="{% if tab_name == 'mach' %}active{% endif %}">
            <a href="#mach" data-toggle="tab" onclick="changeForm('mach_form')">机床</a>
        </li>

        <li class="{% if tab_name == 'head' %}active{% endif %}">
            <a href="#head" data-toggle="tab" onclick="changeForm('head_form')">角度头</a>
        </li>


    </ul>

    <div id="myTabContent" class="tab-content">
        {#标签1：刀具#}
        <div class="{% if tab_name|default:'tool' == 'tool' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}" id="tool">

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">刀具列表 <i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_cutter/" method="get" id='tool_form'>
                                <input style="width:300px;float:left;" class="form-control" type="text" name="cutter_search" placeholder="刀具编号">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>

                                </form>

                            </div><!-- /input-group -->

                        </div><!-- /.col-md-4 -->
                        <a href="{% url 'resource' %}" class="btn btn-success pull-right">刷新</a>
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_cutter' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加刀具</a>

                            <a class="btn btn-info" onclick="edit_cutter()"><i class="fa fa-pencil fa-fw"></i>修改</a>
                            <a class="btn btn-danger" onclick="delete_cutter()"><i class="fa fa-trash-o fa-fw"></i>删除</a>

                        </div>



                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>

                            <th style="display: none">刀具编号</th>
                            <th>刀具名称</th>
                            <th>供应商</th>
                            <th>最高公差等级</th>
                            <th>最低公差等级</th>
                            <th>最小直径</th>
                            <th>最大直径</th>
                            <th>最小深径比</th>
                            <th>最大深径比</th>
                            <th>可加工材料</th>
                            <th>刀具材料</th>
                            <th>可加工工艺</th>
                            <th>刀具成本</th>
                            <th>刀具图片</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cutter in cutter_list %}
                            <tr>

                                <td style="display: none">{{ cutter.id }}</td>
                                <td>{{ cutter.name }}</td>
                                <td>{{ cutter.supplier }}</td>
                                <td>{{ cutter.minHoleTole }}</td>
                                <td>{{ cutter.maxHoleTole }}</td>
                                <td>{{ cutter.minDia }}</td>
                                <td>{{ cutter.maxDia }}</td>
                                <td>{{ cutter.minDepDia }}</td>
                                <td>{{ cutter.maxDepDia }}</td>
                                <td>{{ cutter.capMat }}</td>
                                <td>{{ cutter.cutterMat }}</td>
                                <td>{{ cutter.capPro }}</td>
                                <td>{{ cutter.cutterCost }}</td>
                                <td>{{ cutter.cutterImg }}</td>
                                <td>{{ cutter.cutterRemark }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                                <script>


        var chosenId = []
        var rows = document.getElementsByTagName("tr")

        for (var i = 0; i < rows.length; i++) {
            rows[i].addEventListener("click", function () {
                //先全部清空

                chosenId.push(this.firstElementChild.innerHTML)

                if (chosenId != "编号") {
                    //高亮
                    this.style.background = 'rgba(162,200,243,0.6)'
                }
            })
        }

        function edit_cutter() {
            if (chosenId.length === 1) {
                location.href = '/edit_cutter/' + chosenId[0]
            }
        }

        function delete_cutter() {
            let arrayAsString = JSON.stringify(chosenId);
            let baseUrl = '/delete_cutter';
            let urlWithArray = `${baseUrl}?array=${encodeURIComponent(arrayAsString)}`;
                location.href = urlWithArray


        }



                </script>

                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }


                </script>



                </div>
                </div>

            </div>
        </div>
        {#标签2：工装#}
        <div class="{% if tab_name == 'fixture' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}" id="fixture">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">工装列表 <i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_fixture/" method="get" id="fixture_form">
                                <input style="width:300px;float:left;" class="form-control" type="text" name="fixture_search" placeholder="工装编号">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>
                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_fixture' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加工装</a>

                        </div>

                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>数据操作</th>
                            <th>工装编号</th>
                            <th>工装类型</th>
                            <th>工装名称</th>
                            <th>工装打标号</th>
                            <th>工装尺寸</th>
                            <th>零件类型</th>
                            <th>零件结构形式</th>
                            <th>零件材料</th>
                            <th>零件尺寸</th>
                            <th>接口尺寸</th>
                            <th>工装图片</th>
                            <th>备注</th>
                            <th>其他字段</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for fixture in fixture_list %}
                            <tr>
                                <td class="buttentest">
                                    <a class="btn btn-danger" href="{% url 'delete_fixture' fixture.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>删除</a>
                                    <a class="btn btn-info" href="{% url 'edit_fixture' fixture.id %}"><i
                                            class="fa fa-pencil fa-fw"></i>查看并编辑</a>
                                </td>
                                <td>{{ fixture.name }}</td>
                                <td>{{ fixture.fixtureType }}</td>
                                <td>{{ fixture.fixtureName }}</td>
                                <td>{{ fixture.fixtureCode }}</td>
                                <td>{{ fixture.geoDim }}</td>
                                <td>{{ fixture.partType }}</td>
                                <td>{{ fixture.partStruct }}</td>
                                <td>{{ fixture.partMat }}</td>
                                <td>{{ fixture.partSize }}</td>
                                <td>{{ fixture.InterfaceDim }}</td>
                                <td>{{ fixture.fixtureImg }}</td>
                                <td>{{ fixture.fixtureRemark }}</td>
                                <td>{{ fixture.otherFields }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }
                </script>
                </div>
                </div>

            </div>
        </div>
        {#标签3：机床#}
        <div class="{% if tab_name == 'mach' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}" id="mach">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">机床列表 <i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_mach/" method="get" id="mach_form">
                                <input style="width:300px;float:left;" class="form-control" type="text" name="mach_search" placeholder="机床编号">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>

                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_mach' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加机床</a>

                        </div>

                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>数据操作</th>
                            <th style="display: none">机床编号</th>
                            <th>机床类型</th>
                            <th>线行轴X行程</th>
                            <th>线行轴Y行程</th>
                            <th>线行轴Z行程</th>
                            <th>A轴行程</th>
                            <th>B轴行程</th>
                            <th>C轴行程</th>
                            <th>X轴定位精度</th>
                            <th>Y轴定位精度</th>
                            <th>Z轴定位精度</th>
                            <th>A轴定位精度</th>
                            <th>B轴定位精度</th>
                            <th>C轴定位精度</th>
                            <th>工作台长</th>
                            <th>工作台宽</th>
                            <th>工作台允许最大荷重（kg）</th>
                            <th>适用工序</th>
                            <th>适用特征</th>
                            <th>关联角度头</th>
                            <th>机床图片</th>
                            <th>机床备注</th>
                            <th>其他字段</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for mach in mach_list %}
                            <tr>
                                <td class="buttentest">
                                    <a class="btn btn-danger" href="{% url 'delete_mach' mach.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>删除</a>
                                    <a class="btn btn-danger" href="{% url 'edit_mach' mach.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>查看并编辑</a>


                                </td>
                                <td style="display: none">机床编号</td>
                                <td>{{ mach.machType }}</td>
                                <td>{{ mach.travelX }}</td>
                                <td>{{ mach.travelY }}</td>
                                <td>{{ mach.travelZ }}</td>
                                <td>{{ mach.travelA }}</td>
                                <td>{{ mach.travelB }}</td>
                                <td>{{ mach.travelC }}</td>
                                <td>{{ mach.PrecisionX }}</td>
                                <td>{{ mach.PrecisionY }}</td>
                                <td>{{ mach.PrecisionZ }}</td>
                                <td>{{ mach.PrecisionA }}</td>
                                <td>{{ mach.PrecisionB }}</td>
                                <td>{{ mach.PrecisionC }}</td>
                                <td>{{ mach.worktableSize_length }}</td>
                                <td>{{ mach.worktableSize_width }}</td>
                                <td>{{ mach.load }}</td>
                                <td>{{ mach.process }}</td>
                                <td>{{ mach.feature }}</td>
                                <td>{{ mach.headID }}</td>
                                <td>{{ mach.machImg }}</td>
                                <td>{{ mach.machRemark }}</td>
                                <td>{{ mach.otherFields }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>




                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }
                </script>
                </div>
                </div>

            </div>
        </div>
        {#标签4：角度头#}
        <div class="{% if tab_name == 'head' %}tab-pane fade in active{% else %}tab-pane fade{% endif %}"  id="head">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">角度头列表 <i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4" >
                            <div class="input-group">
                                <form style="width:400px;display:inline" action="/search_head/" method="get" id="head_form">
                                <input style="width:300px;float:left;" class="form-control" type="text" name="head_search" placeholder="角度头编号">
                                    <button style="width:50px;float:right;" class="btn btn-default" type="submit">搜索</button>
                                </form>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-3 pull-right">
                            <a href="{% url 'add_head' %}" class="btn btn-success pull-right"><i
                                    class="fa fa-plus fa-fw"></i>添加角度头</a>

                        </div>

                    </div><!-- /.row -->
                    <style>
                    table {
                    border-collapse: collapse; /* 合并单元格 */
                    }
                    th {
                        font-size: 10px;
                        border: 1px solid black; /* 设置边框 */
                        padding: 10px; /* 设置内边距 */
                        height: 20px; /* 设置行高 */
                        min-width:60px;
                        max-height:50px;
                        width: 50px;
                        max-width: 300px;
                    }
                    td{
                        font-size: 10px;
                        height: 20px; /* 设置行高 */
                        max-height:30px;
                        {#width: 50px;#}
                        max-width: 300px;
                        min-width:60px;
                        overflow:hidden;text-overflow:ellipsis;
                        white-space:nowrap; /* 超出部分用省略号 */
                        {#/* 将对象作为弹性伸缩盒子模型显示 */#}
		                {#display: -webkit-box;#}
                        {#/* 限制再一个块元素再文本显示的行数 */#}
                        {#-webkit-line-clamp: 2;#}
                        {#/* 设置或检索伸缩盒对象的子元素的排列方式 */#}
                        {#-webkit-box-orient: vertical;#}

                    }
                    td.buttentest{
                        width: 200px;
                        max-width: 300px;
                    }
                    a{
                        {#text-decoration:none; color: #ffffff; font-size: 20px;//超链接的文字字体大小为20像素#}
                        {#font-size: 10px;#}
                        {#height: 30px;#}
                        {#width: 20px;#}

                    }
                    {#i{font-size: 10px;}#}

                    </style>
                <div style="width:100%; height:100%; overflow:scroll;">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <tr>
                            <th>数据操作</th>
                            <th>角度头名称</th>
                            <th>角度头型号</th>
                            <th>角度铣头及加长杆包络轮廓</th>
                            <th>最大加工深度</th>
                            <th>适用刀具直径范围（最大）</th>
                            <th>适用刀具直径范围（最小）</th>
                            <th>适用机床</th>
                            <th>角度头图片</th>
                            <th>角度头备注</th>
                            <th>其他字段</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for head in head_list %}
                            <tr>
                                <td class="buttentest">
                                    <a class="btn btn-danger" href="{% url 'delete_head' head.id %}"><i
                                            class="fa fa-trash-o fa-fw"></i>删除</a>
                                    <a class="btn btn-info" href="{% url 'edit_head' head.id %}"><i
                                            class="fa fa-pencil fa-fw"></i>查看并编辑</a>
                                </td>
                                <td>{{ head.name }}</td>
                                <td>{{ head.headType }}</td>
                                <td>{{ head.headStruct }}</td>
                                <td>{{ head.headDepth }}</td>
                                <td>{{ head.toolDiamRange_max }}</td>
                                <td>{{ head.toolDiamRange_min }}</td>
                                <td>{{ head.appMach }}</td>
                                <td>{{ head.headImg }}</td>
                                <td>{{ head.headRemark }}</td>
                            <td>{{ head.otherFields }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        var tTD;
                        var table = document.getElementById("table");
                        console.log(table.rows[0].cells)
                        for (i = 0; i < table.rows[0].cells.length; i++) {
                            table.rows[0].cells[i].onmousedown = function() {
                                tTD = this;
                                if (event.offsetX > tTD.offsetWidth - 10) {
                                    tTD.mouseDown = true;
                                    tTD.oldX = event.x;
                                    tTD.oldWidth = tTD.offsetWidth;
                                }
                            };
                            table.rows[0].cells[i].onmouseup = function() {
                                if (tTD == undefined) tTD = this;
                                tTD.mouseDown = false;
                                tTD.style.cursor = 'default';
                            };
                            table.rows[0].cells[i].onmousemove = function() {
                                if (event.offsetX > this.offsetWidth - 10)
                                    this.style.cursor = 'col-resize';
                                else
                                    this.style.cursor = 'default';
                                if (tTD == undefined) tTD = this;
                                if (tTD.mouseDown != null && tTD.mouseDown == true) {
                                    tTD.style.cursor = 'default';
                                    if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                        tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                                    tTD.style.width = tTD.width;
                                    tTD.style.cursor = 'col-resize';
                                    table = tTD;
                                    while (table.tagName != 'TABLE') table = table.parentElement;
                                    for (j = 0; j < table.rows.length; j++) {
                                        table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                                    }
                                }
                            };
                        }
                </script>
                </div>
                </div>

            </div>
        </div>

    </div>


{% endblock main %}