{% extends 'base.html' %}

{% block title %}
    规则配置|规则参数
{% endblock title %}

{% block main %}
    <h2 class="page-header" style="border-bottom: none">规则配置|规则参数</h2>
    <div id="myTabContent" class="tab-content">
        {# 总表 #}
        <div class="panel panel-primary" style="width: 60%; float: left">
            <!-- Default panel contents -->
            <div class="panel-heading">数据字典<i class="fa fa-thumb-tack pull-right"></i></div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." id="searchInput">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="secrch-Btn"
                                            onclick="search()">搜索</button>
                            </span>
                            <a href="{% url 'rule_parameter' %}" class="btn btn-success pull-right">刷新</a>
                        </div><!-- /input-group -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-3 pull-right">
                        <a class="btn btn-danger" onclick="deletes()"><i class="fa fa-trash-o fa-fw"></i>删除</a>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="display: none">编号</th>
                        <th>参数名</th>
                        <th>参数类型</th>
                        <th>参数值</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ruleParameter in RuleParameter_list %}
                        <tr>
                            <td style="display: none">{{ ruleParameter.id }}</td>
                            <td>{{ ruleParameter.name }}</td>
                            <td>{{ ruleParameter.paraType }}</td>
                            <td>{{ ruleParameter.defaultValue }}</td>
                            <td>{{ ruleParameter.remark }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {# 编辑器 #}
        <div class="panel panel-primary" style="width: 38%; float: right">
            <div class="panel-heading">编辑器<i class="fa fa-thumb-tack pull-right"></i></div>
            <div class="panel-body">
                <form class="form-horizontal" action="{% url 'change_ruleParameter' %}" enctype="multipart/form-data"
                      method="post">
                    {% csrf_token %}
                    {# 参数名 #}
                    <div class="form-group">
                        <label for="ruleParameter-name" class="col-sm-2 control-label">参数名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleParameter-name" placeholder="参数名"
                                   name="ruleParameter_name">
                        </div>
                    </div>

                    {# 描述 #}
                    <div class="form-group">
                        <label for="ruleParameter-remark" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="ruleParameter-remark" placeholder="描述"
                                      name="ruleParameter_remark" rows="5"></textarea>
                        </div>
                    </div>

                    {# 参数类型 #}
                    <div class="form-group">
                        <label for="ruleParameter-paraType" class="col-sm-2 control-label">参数类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="ruleParameter_paraType" id="ruleParameter-paraType">
                                <option value="" selected style="display: none"></option>
                                <option value="单值">单值</option>
                                <option value="区间值">区间值</option>
                                <option value="区间值_上界值">区间值_上界值</option>
                                <option value="区间值_下界值">区间值_下界值</option>
                            </select>
                        </div>
                    </div>

                    {# 参数值，单值 #}
                    <div class="form-group" id="ruleParameter-singleValueDiv" style="display: none">
                        <label for="ruleParameter-singleValue" class="col-sm-2 control-label">取值</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleParameter-singleValue" placeholder="取值"
                                   name="ruleParameter_singleValue">
                        </div>
                    </div>

                    {# 参数值，区间值 #}
                    <div class="form-group" id="ruleParameter-upperValueDiv" style="display: none">
                        <label for="ruleParameter-upperValue" class="col-sm-2 control-label">上界值</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleParameter-upperValue" placeholder="上界值"
                                   name="ruleParameter_upperValue">
                        </div>
                    </div>
                    <div class="form-group" id="ruleParameter-lowerValueDiv" style="display: none">
                        <label for="ruleParameter-lowerValue" class="col-sm-2 control-label">下界值</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ruleParameter-lowerValue" placeholder="下界值"
                                   name="ruleParameter_lowerValue">
                        </div>
                    </div>

                    {# 按钮 #}
                    <div class="form-group" style="text-align:left; margin-left: 0">
                        <div class=" col-sm-10" style="display: inline-block">
                            <button type="submit" class="btn btn-success">提交</button>
                            <p style="color: red;">{{ error_msg }}</p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        var chosenId = -1
        var rows = document.getElementsByTagName("tr")
        //显示具体的规则参数值
        for (var i = 0; i < rows.length; i++) {
            rows[i].addEventListener("click", function () {
                //先全部清空
                for (var j = 0; j < rows.length; j++) {
                    rows[j].style.background = 'white'
                }
                chosenId = this.firstElementChild.innerHTML
                if (chosenId != "编号") {
                    //高亮
                    this.style.background = 'yellow'
                    document.getElementById("ruleParameter-name").value = this.cells[1].innerText
                    document.getElementById("ruleParameter-paraType").value = this.cells[2].innerText
                    document.getElementById("ruleParameter-remark").value = this.cells[4].innerText
                    document.getElementById("ruleParameter-name").readOnly = true
                    if (document.getElementById("ruleParameter-paraType").value == "单值") {
                        document.getElementById('ruleParameter-singleValueDiv').style.display = 'block';
                        document.getElementById('ruleParameter-upperValueDiv').style.display = 'none'
                        document.getElementById('ruleParameter-lowerValueDiv').style.display = 'none'
                        document.getElementById("ruleParameter-singleValue").value = this.cells[3].innerText
                    }
                    if (document.getElementById("ruleParameter-paraType").value == "区间值_上界值") {
                        document.getElementById('ruleParameter-upperValueDiv').style.display = 'block';
                        document.getElementById('ruleParameter-lowerValueDiv').style.display = 'none';
                        document.getElementById('ruleParameter-singleValueDiv').style.display = 'none';
                        document.getElementById("ruleParameter-upperValue").value = this.cells[3].innerText
                    }
                    if (document.getElementById("ruleParameter-paraType").value == "区间值_下界值") {

                        document.getElementById('ruleParameter-upperValueDiv').style.display = 'none';
                        document.getElementById('ruleParameter-lowerValueDiv').style.display = 'block';
                        document.getElementById('ruleParameter-singleValueDiv').style.display = 'none';
                        document.getElementById("ruleParameter-lowerValue").value = this.cells[3].innerText
                    }
                }
            })
        }
        //弹出取值、系列值的填写框
        document.getElementById('ruleParameter-paraType').addEventListener('change', function () {
            var paraType = this.value;
            document.getElementById('ruleParameter-singleValueDiv').style.display = 'none'
            document.getElementById('ruleParameter-upperValueDiv').style.display = 'none'
            document.getElementById('ruleParameter-lowerValueDiv').style.display = 'none'
            if (paraType == '单值') {
                document.getElementById('ruleParameter-singleValueDiv').style.display = 'block';
                document.getElementById("ruleParameter-singleValue").value = "";
            }
            if (paraType == '区间值') {
                document.getElementById('ruleParameter-upperValueDiv').style.display = 'block';
                document.getElementById('ruleParameter-lowerValueDiv').style.display = 'block';
                document.getElementById("ruleParameter-lowerValue").value = "";
                document.getElementById("ruleParameter-upperValue").value = "";
            }
            if (paraType == '区间值_上界值') {
                document.getElementById('ruleParameter-upperValueDiv').style.display = 'block';
                document.getElementById('ruleParameter-lowerValueDiv').style.display = 'none';
                document.getElementById("ruleParameter-lowerValue").value = "";
                document.getElementById("ruleParameter-upperValue").value = "";
            }
            if (paraType == '区间值_下界值') {
                document.getElementById('ruleParameter-upperValueDiv').style.display = 'none';
                document.getElementById('ruleParameter-lowerValueDiv').style.display = 'block';
                document.getElementById("ruleParameter-lowerValue").value = "";
                document.getElementById("ruleParameter-upperValue").value = "";
            }
        })

        function deletes() {
            if (chosenId != -1) {
                location.href = '/delete_ruleParameter/' + chosenId + '/'
            }
        }

        function search() {
            var searchContent = document.getElementById("searchInput").value;
            location.href = "/scriptFunction/rule_parameter?content=" + searchContent
        }
    </script>
{% endblock main %}